.login-button {
    background-color: #1DA1F2;
    width: 100%;
}

.login-header-text {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

.login-header {
    display: flex;
}

.sidebar__twitterIcon {
    color: #1DA1F2;
    font-size: 30px !important;
}

