.feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
    border-right: 1.5px solid #F5F8FA;
  }
  
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border-right: 1.5px solid #F5F8FA;
    padding: 15px 20px;
  }
  
  .feed__header > h2 {
    font-size: 20px;
    font-weight: 700;
  }