.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1.5px solid #F5F8FA;
    padding-bottom: 10px;
    border-top: 1.5px solid #F5F8FA;
  }
  
  .post__body {
    flex: 1;
    padding: 10px;
  }
  
  .post__body > img {
    border-radius: 20px;
  }
  
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 60px;
  }
  
  .post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .post__headerText > a > h3 {
    font-size: 15px;
    margin-bottom: 5px;
    padding-top: 10px;
    color: black;
  }

  a:hover {
    text-decoration: underline;
    color: black;
  }
  
  .post__badge {
    font-size: 14px !important;
    color: #1DA1F2;
  }
  
  .post__avatar {
    padding: 20px;
  }

  .delete-btn {
    float: right;
  }

  .hashtag {
    color: #1DA1F2;
  }

  .hashtag:hover {
    color: #0C5C8B;
    text-decoration: none;
  }