.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 7px;
  }
  
  .sidebarOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: #1DA1F2;
    transition: color 100ms ease-out;
  }
  
  .sidebarOption > .MuiSvgIcon-root {
    padding: 15px;
    box-sizing: content-box;
    margin-top: -5px;
  }
  
  .sidebarOption > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 25px;
  }
  
  .sidebarOption--active {
    color: #1DA1F2;
  }

