.profile {
    display: flex;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }

  .user-feed {
    flex: 0.6;
    min-width: fit-content;
    overflow-y: scroll;
    border-right: 1.5px solid #F5F8FA;
    min-width: 0;
}

.feed-header {
  display: flex;
  align-items: center;
  gap: 5px; 
  border-bottom: #F5F8FA 1.5px solid;
}

.icon {
  padding-left: 10px;
  padding-right: 5px;
}

.top-username {
  margin-top: 5px;
  font-size: 24px;
}

.hoverable-icon {
  transition: transform 0.3s, color 0.3s;
}

.hoverable-icon:hover {
  transform: scale(1.1);
  color: #1DA1F2;
}

.banner {
  background-color: rgba(29, 161, 242, 0.25);
  width: 100%;
  height: 200px;
  max-height: 80vh; 
}

.profile-image {
  margin-top: -70px;
  padding-left: 35px;
}

.follow-button {
  float: right;
  margin-right: 40px;
  background-color: #1DA1F2;
  border-radius: 50px;
  border: none;
  margin-top: -55px;
  width: 150px;
}

.profile-username {
  padding-left: 35px;
  padding-top: 10px;
  font-weight: 800;
  padding-bottom: 20px;
}

.no-space {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: 1;
  white-space: nowrap;
  color: #AAB8C2;
}

.profile-top {
  border-bottom: #F5F8FA 4px solid;
}

.followers {
  float: right;
  margin-right: 45px;
  margin-top: -50px;
  font-size: 22px;
}

.number {
  color: black;
}

.followers {
  color: #AAB8C2;
}

.joined {
  float: right;
  margin-right: 45px;
  margin-top: -20px;
  font-size: 14px;
  padding-top: 5px;
}

.user-feed::-webkit-scrollbar {
  display: none;
}